<div class="container">
  <div class="p-3">
    <div>
      <img class="imgCategoria" [src]="getImgByCategories(ricetta.categoria)" alt="Immagine ricetta">
    </div>

    <div>
      <h4>{{ ricetta.nome }}</h4>

      <ul>
        <li><i class="bi bi-bookmark"></i> Categoria: {{ ricetta.categoria }}</li>
        <li><i class="bi bi-person"></i> Persone: {{ ricetta.persone }}</li>
      </ul>
    </div>
  </div>

  <div>
    <h5>Ingredienti</h5>
    <ul *ngFor="let r of ricetta.ingredienti">
      <li>{{ r }}</li>
    </ul>
  </div>

  <div>
    <p>{{ ricetta.preparazione }}</p>
  </div>
</div>
