<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image"></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong card-style">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center register-h2">
        <div class="col-lg-8" *ngIf="!registered">
          <h2 class="fw-bold mb-5">Registrati a RecipeMe</h2>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="form-outline">
                  <label class="form-label" for="name ">Nome</label>
                  <input type="text" id="name" class="form-control mb-1" formControlName="name" [ngClass]="{'form-control': true, 'is-valid': isValid('name'), 'is-invalid': isInvalid('name')}" />
                  <div class="feedback text-start ps-3 mb-2">
                    <span *ngIf="registerForm.controls['name'].dirty" [ngClass]="{ 'valid': isValid('name'), 'invalid': isInvalid('name') }">{{msg.name}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="form-outline">
                  <label class="form-label" for="form3Example2">Cognome</label>
                  <input type="text" id="surname" class="form-control mb-1" formControlName="surname" [ngClass]="{'form-control': true, 'is-valid': isValid('surname'), 'is-invalid': isInvalid('surname')}" />
                  <div class="feedback text-start ps-3 mb-2 valid">
                    <span *ngIf="registerForm.controls['surname'].dirty" [ngClass]="{ 'valid': isValid('surname'), 'invalid': isInvalid('surname') }">{{msg.surname}}</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-2">
              <label class="form-label" for="form3Example3">Indirizzo e-mail</label>
              <input type="email" id="email" class="form-control mb-1" formControlName="email" [ngClass]="{'form-control': true, 'is-valid': isValid('email'), 'is-invalid': isInvalid('email')}" />
              <div class="feedback text-start ps-3 mb-2 valid">
                <span *ngIf="registerForm.controls['email'].dirty" [ngClass]="{ 'email': isValid('email'), 'invalid': isInvalid('email') }">{{msg.email}}</span>
              </div>
            </div>


            <!-- Password input -->
            <div class="row">
              <div class="col-md-6 form-outline mb-2">
                <label class="form-label" for="form3Example4">Password</label>
                <input type="password" id="password" class="form-control mb-1" formControlName="password"  [ngClass]="{'form-control': true, 'is-valid': isValid('password'), 'is-invalid': isInvalid('password')}" />
                <div class="feedback text-start ps-3 mb-2 valid">
                  <span *ngIf="registerForm.controls['password'].dirty" [ngClass]="{ 'valid': isValid('password'), 'invalid': isInvalid('password') }">{{msg.password}}</span>
                </div>
              </div>
              <div class="col-md-6 form-outline mb-4">
                <label class="form-label" for="form3Example4">Conferma password</label>
                <input type="password" id="confirmPassword" class="form-control mb-1" formControlName="confirmPassword" [ngClass]="{'form-control': true, 'is-valid': match, 'is-invalid': unmatch}" />
                <div class="feedback text-start ps-3 mb-2 valid">
                  <span *ngIf="registerForm.controls['confirmPassword'].dirty" [ngClass]="{ 'valid': !unmatch, 'invalid': unmatch }">{{msg.confirmPassword}}</span>
                </div>
              </div>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-3 btn-signup">
              Registrati
            </button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>oppure torna al login</p>
              <a type="submit" routerLink="../../auth/login" class="btn btn-primary btn-block btn-login">
                Login page
              </a>
            </div>
          </form>
        </div>
        <div class="col-lg-8" *ngIf="registered">
          <h2 class="fw-bold mb-5">Ciao {{this.registerForm.value['name']}}. La registrazione è avvenuta con successo!</h2>
          <a type="submit" routerLink="../../auth/login" class="btn btn-primary btn-block btn-login">
            Vai al Login
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
