<div class="mioFixed">
  <nav class="navbar navbar-expand-md">

    <div class="w-100 d-flex align-items-center d-block d-md-none">
      <div class="col text-start">
        <button (click)="open = !open" id="canvasButton" class="btn btn-primary mx-3 hamburger-btn btn-fixed-down"
          type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"><i class="bi bi-list ham-icon"></i></button>
      </div>

      <div class="col text-end">
        <a class="navbar-brand" routerLink="/homepage"><img class="nav-logo" src="../../../assets/recipeme-logo.png"
          alt="logo"></a>
      </div>
    </div>

    <div [ngClass]="{show: open}" class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
      id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <div class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
          <img class="nav-logo" src="../../../assets/img/recipeme-logo.png" alt="logo">
        </div>
        <button (click)="open =!open" type="button" class="btn-close close-btn" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-md-none" >

        <div class="row">

          <div class="col-12 mb-4">
            <form class="d-flex" role="search">
              <input class="form-control me-2 input-canvas autocomplete" type="search" placeholder="Cerca una ricetta"
                aria-label="Search" nz-input [formControl]="input" (input)="onInput($event)"  [nzAutocomplete]="auto">
              <button class="btn btn-outline-success search-btn px-4" type="submit"
                (click)="this.act(this.element.activeItem.nzValue)" (click)="open = !open" ><i class="bi bi-search src-icon"></i></button>
              <nz-autocomplete #auto>
                <div *ngFor="let option of options">
                  <nz-auto-option [nzValue]="option" (click)="open = !open">{{option}}</nz-auto-option>
                </div>
              </nz-autocomplete>
            </form>
          </div>
          <div class="col-12 mb-2">
            <a class="home-link" (click)="open = !open" routerLink="/homepage">Home</a></div>
          <div class="col-12">
            <ul class="listaCanvas">
              <li *ngFor="let categoria of categorie" (click)="open = !open"><a class="dropdown-item list-item ms-2"
                  [routerLink]="['/homepage/result/',categoria]">{{categoria}}</a></li>
            </ul>
          </div>
          <div class="col-12">
            <a (click)="open = !open" class="accedi-btn px-4" routerLink="auth/login"><i class="bi bi-person-circle"></i></a>
          </div>

        </div>

      </div>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand d-none d-md-block" routerLink="/homepage"><img class="nav-logo" src="../../../assets/recipeme-logo.png"
          alt="logo"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item dropdown">
            <a [ngClass]="{show: aperto}" (click)="aperto = !aperto" class="nav-link dropdown-toggle ricette-btn px-3"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ricette
            </a>
            <ul [ngClass]="{show: aperto}" class="dropdown-menu">
              <li *ngFor="let categoria of categorie" (click)="aperto = !aperto"><a class="dropdown-item list-ricette"
                  [routerLink]="['/homepage/result/',categoria]">{{categoria}}</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 input-recipe autocomplete" type="search" placeholder="Cerca una ricetta"
            aria-label="Search" nz-input [formControl]="input" (input)="onInput($event)" [nzAutocomplete]="auto">
          <button class="btn btn-outline-success search-btn px-4" type="submit"
            (click)="this.act(this.element.activeItem.nzValue)"><i class="bi bi-search src-icon"></i></button>
          <nz-autocomplete #auto>
            <div *ngFor="let option of options">
              <nz-auto-option [nzValue]="option">{{option}}</nz-auto-option>
            </div>
          </nz-autocomplete>
        </form>
        <div>

          <a class="accedi-btn accedi-btn-canvas px-4" routerLink="auth/login"><i class="bi bi-person-circle"></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>
