/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

h2,h3,h4, .nome-img-res{

  font-family: 'Dancing Script', cursive;

}

:root {
  --verdeScuro: #3ba35f;
  --aranGiallo: #f7c53c;
  --aranGialloMedium: rgba(247, 197, 60, 0.592);
  --aranGialloLight: rgba(247, 197, 60, 0.302);
  --bs-tertiary-bg-rgb: white;
  --invalidColor: rgb(147, 0, 0);
  --validColor: rgb(0, 109, 0);
}

.feedback {

  min-height: 24px;

}

.valid {

  color: var(--bs-form-valid-border-color);

}

.invalid {

  color: var(--bs-form-invalid-border-color);

}

.fade-in-animation {
  animation: .4s ease-in-out forwards fade-in;
}

.fade-out-animation {
  animation: .4s ease-in-out forwards fade-out;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }

  to {
      opacity: 1
  }
}

@keyframes fade-out {
  from {
      opacity: 1;
  }

  to {
      opacity: 0
  }
}
