/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root{
  --verdeScuro: #3ba35f;
  --aranGiallo: #f7c53c;
  --aranGialloMedium:rgba(247, 197, 60, 0.592);
  --aranGialloLight:rgba(247, 197, 60, 0.302);
  --bs-tertiary-bg-rgb: white;
  --invalidColor: rgb(147, 0, 0);
  --validColor: rgb(0, 109, 0);
}

.feedback{

  min-height: 24px;

}

.valid{

  color: var(--bs-form-valid-border-color);

}

.invalid{

  color: var(--bs-form-invalid-border-color);

}

