<a routerLink="/my-profile" class="d-block link-body-emphasis text-decoration-none b-bottom icon-cont" data-bs-toggle="tooltip"
  data-bs-placement="right" data-bs-original-title="Icon-only">
  <i class="bi bi-person-circle user-icon"></i>
  <span class="visually-hidden">Icon-only</span>
</a>
<ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
  <li class="nav-item">
    <a routerLink="/my-profile/edit" class="nav-link py-3 rounded-0 b-bottom icon-cont" aria-current="page" data-bs-toggle="tooltip"
      data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
      <i class="bi bi-postcard-heart profile-icon"></i>
    </a>
  </li>
  <li>
    <a class="nav-link py-3 b-bottom rounded-0 icon-cont" data-bs-toggle="tooltip" data-bs-placement="right"
      aria-label="Dashboard" data-bs-original-title="Dashboard">
      <i class="bi bi-chat-left-dots profile-icon"></i>
    </a>
  </li>
  <li>
    <a class="nav-link py-3 b-bottom rounded-0 icon-cont" data-bs-toggle="tooltip" data-bs-placement="right"
      aria-label="Orders" data-bs-original-title="Orders">
      <i class="bi bi-basket profile-icon"></i>
    </a>
  </li>
  <li>
    <a class="nav-link py-3 b-bottom rounded-0 icon-cont" data-bs-toggle="tooltip" data-bs-placement="right"
      aria-label="Products" data-bs-original-title="Products">
      <i class="bi bi-house profile-icon"></i>
    </a>
  </li>
  <li>
    <a (click)="logOut()" class="nav-link py-3 rounded-0 icon-cont" data-bs-toggle="tooltip" data-bs-placement="right"
      aria-label="Customers" data-bs-original-title="Customers">
      <i class="bi bi-box-arrow-left profile-icon"></i>
    </a>
  </li>
</ul>
