.titoloCard {
  position: absolute;
  top: 46%;
  left: -3%;
  text-align: center;
  width: 100%;
  color: var(--aranGiallo);
}

.containerImgCard {
  position: relative;
}

.imgCard {
  width: 320px;
  box-shadow: 2px 2px 5px var(--aranGiallo);
}

.titoloCard2{
  position: absolute;
  top: 70%;
  left: -3%;
  text-align: center;
  width: 100%;
  color: var(--aranGiallo);
}

.imgCard2 {
  width: 300px;
  box-shadow: 2px 2px 5px var(--aranGiallo);
}


@media screen and (min-width:500px){
  .imgCard{
  width: 490px;
  }

  .titoloCard{
  top: 70%;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  }

  .titoloCard2 {
    top: 68%;
    left: 0;
    font-size: 1.4rem;
  }

}

