.titoloCard,.titoloCard2 {
  position: absolute;
  top: 46%;
  left: -3%;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow:
    1px 1px 0 var(--aranGiallo),
    -1px 1px 0 var(--aranGiallo),
    -1px -1px 0 var(--aranGiallo),
    1px -1px 0 var(--aranGiallo);
}

.containerImgCard {
  position: relative;
}

.imgCard {
  width: 320px;
  box-shadow: 2px 2px 5px var(--aranGiallo);
}

.titoloCard2{
  top: 70%;
}

.imgCard2 {
  width: 300px;
  box-shadow: 2px 2px 5px var(--aranGiallo);
}


@media screen and (min-width:500px){
  .imgCard{
  width: 490px;
  }

  .titoloCard{
  top: 70%;
  font-size: 2rem;
  }

  .titoloCard2 {
    top: 68%;
    left: 0;
    font-size: 1.4rem;
  }

}

.nav2-text{

  font-weight: bold;

  a{

    color: var(--verdeScuro);

    &:hover{

      color: green;

    }

  }

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.heroText {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  h1{

    font-size: 7rem;

  }

}

.p-fix{

  font-family: 'Dancing Script', cursive;

}

.text-vid-container{

  background-color: rgba(0, 0, 0, 0.468);
  padding: 15px;

}
