<section class="p-2 my-3">

  <splide class="splide" [options]="{ type: 'loop', perPage: 5, autoplay: true, lazyLoad: true, height: 500, autoWidth: true, gap: 15,  }">
    <splide-slide *ngFor="let r of ricetteArr" class="containerImgCard">
      <img loading="lazy" class="imgCard" [src]="getImgByCategories(r.categoria)" alt="Immagine Ricetta" />
      <h3 class="titoloCard">{{ r.nome }}</h3>
    </splide-slide>
  </splide>

</section>

<section>




</section>

<section class="p-2 my-3">

  <div>
    <h3 class="text-center fw-semibold">
      PRIMO
    </h3>
  </div>

  <splide class="splide" [options]="{ type: 'loop', perPage: 5, autoplay: true, lazyLoad: true, height: 500, autoWidth: true, gap: 15,  }">
    <splide-slide *ngFor="let r of ricetteArr" class="containerImgCard">
      <img loading="lazy" class="imgCard" [src]="getImgByCategories(r.categoria)" alt="Immagine Ricetta" />
      <h3 class="titoloCard">{{ r.nome }}</h3>
    </splide-slide>
  </splide>

</section>
