.titoloCard,.titoloCard2 {
  position: absolute;
  top: 46%;
  left: -3%;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow:
    1px 1px 0 var(--aranGiallo),
    -1px 1px 0 var(--aranGiallo),
    -1px -1px 0 var(--aranGiallo),
    1px -1px 0 var(--aranGiallo);
}

.containerImgCard {
  position: relative;
}

.imgCard {
  width: 320px;
  box-shadow: 2px 2px 5px var(--aranGiallo);
}

.titoloCard2{
  top: 70%;
}

.imgCard2 {
  width: 300px;
  box-shadow: 2px 2px 5px var(--aranGiallo);
}


@media screen and (min-width:500px){
  .imgCard{
  width: 490px;
  }

  .titoloCard{
  top: 70%;
  font-size: 2rem;
  }

  .titoloCard2 {
    top: 68%;
    left: 0;
    font-size: 1.4rem;
  }

}

.nav2-text{

  font-weight: bold;

  a{

    color: var(--verdeScuro);

    &:hover{

      color: green;

    }

  }

}

