<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image"></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong card-style">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5 login-h2">Effettua l'accesso a RecipeMe</h2>
          <form [formGroup]="loginForm">

            <!-- Email input -->
            <div class="form-outline mb-1">
              <label class="form-label" for="email">Indirizzo e-mail</label>
              <input type="email" id="email" [ngClass]="{'form-control': true, 'is-valid': isValid('email'), 'is-invalid': isInvalid('email')}" formControlName="email" />
            </div>
            <div class="feedback text-start ps-3 mb-2"><span *ngIf="loginForm.controls['email'].dirty" [ngClass]="{ 'valid': isValid('email'), 'invalid': isInvalid('email')}">{{msg.email}}</span></div>

            <!-- Password input -->
            <div class="form-outline mb-1">
              <label class="form-label" for="password">Password</label>
              <input type="password" id="password" [ngClass]="{'form-control': true, 'is-valid': isValid('password'), 'is-invalid': isInvalid('password')}" formControlName="password" />
            </div>
            <div class="feedback text-start ps-3 mb-2"><span *ngIf="loginForm.controls['password'].dirty" [ngClass]="{ 'valid': isValid('password'), 'invalid': isInvalid('password')}">{{msg.password}}</span></div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 btn-accedi">
              Accedi
            </button>

            <!-- Register buttons -->
            <div class="text-center">
              <p class="or-text">oppure clicca qui sotto per registrarti</p>
              <a type="submit" routerLink="../../auth/register" class="btn btn-primary btn-block btn-register">
                Registrati
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
