<footer class="container">

  <div class="d-flex justify-content-center">
    <div class="divisorio my-5"></div>
  </div>

  <div class="row">

    <div class="col">
      <a routerLink="#">
        <img src="../../../assets/img/recipeme-logo.png" alt="">
      </a>
    </div>

    <div class="col">
      <h5 class="mx-2">Scarica l'app</h5>
      <button class="mx-1 my-1 px-4 btn btn-dark"><i class="bi bi-google-play"></i></button>
      <button class="mx-1 my-1 px-4 btn btn-dark"><i class="bi bi-apple"></i></button>
    </div>

    <div class="col my-1">
      <h5 class="mx-2">Iscriviti alla Newsletter</h5>
      <div class="d-flex">
        <input type="email" class="form-control" placeholder="Scrivi email...">
        <button class="mx-1 btn btn-dark"><i class="bi bi-envelope-check-fill"></i></button>
      </div>
    </div>

  </div>

  <div class="row my-4">

    <div class="col">
      <h5 class="mx-2">Seguici</h5>
      <ul>
        <li><a routerLink="#"><i class="mx-1 bi bi-facebook"></i> Facebook</a></li>
        <li><a routerLink="#"><i class="mx-1 bi bi-instagram"></i> Instagram</a></li>
        <li><a routerLink="#"><i class="mx-1 bi bi-tiktok"></i> TikTok</a></li>
        <li><a routerLink="#"><i class="mx-1 bi bi-youtube"></i> Youtube</a></li>
      </ul>
    </div>

    <div class="col">
      <h5 class="mx-2">Info</h5>
      <ul>
        <li><a routerLink="#">Chi siamo</a></li>
        <li><a routerLink="#">Accedi</a></li>
        <li><a routerLink="#">Registrati</a></li>
        <li><a routerLink="#">Gruppo Team 4</a></li>
      </ul>
    </div>

    <div class="col">
      <h5 class="mx-2">Scopri</h5>
      <ul>
        <li><a routerLink="#">Crea un blog</a></li>
        <li><a routerLink="#">In edicola</a></li>
        <li><a routerLink="#">Shopping</a></li>
        <li><a routerLink="#">Ultime ricette</a></li>
      </ul>
    </div>

  </div>

  <div class="d-flex justify-content-center">
    <div class="divisorio my-5"></div>
  </div>

  <div class="my-3">© 2023 Team 4 S.p.A.</div>

  <div>
    <span>P.IVA 800900313</span>
    <a class="mx-2" routerLink="#">Condizioni d'uso</a>
    <a class="mx-2" routerLink="#">Privacy</a>
    <a class="mx-2" routerLink="#">Privacy Policy</a>
    <a class="mx-2" routerLink="#">Cookie Policy</a>
    <a class="mx-2" routerLink="#">Opzioni cookie</a>
    <a class="mx-2" routerLink="#">Disclaimer</a>
    <a class="mx-2" routerLink="#">Governance</a>
    <a class="mx-2" routerLink="#">Gruppo Team 4</a>
  </div>

  <div class="my-3">
    <span>Le Condizioni e Termini d'Uso sono state modificate. Le nuove <a routerLink="#"> Condizioni e Termini
        d'Uso</a> sono entrate in vigore dal 6 Giugno 2022, ti preghiamo di prenderne visione a <a routerLink="#">questo
        link</a>.</span>
  </div>

</footer>
