<div class="container">
  <div class="row d-flex justify-content-center">

    <!-- LEFT BAR -->
    <div class="col-md-2 col-lg-3 col-xl-2 left-bar-container list-item mt-5">
      <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary left-bar">
        <app-left-bar></app-left-bar>
      </div>
    </div>

    <!-- CARDS AND LIST -->
    <div [ngClass]="['col-md-10', 'col-lg-9', 'col-xl-10', profileFadeIn, profileFadeOut, profileDNone]"
      (click)="listToggle()">
      <div class="row">
        <div class="col text-left">
          <h2 class=" text-black font-weight-bolder ms-3 mb-3">Ciao {{user.user.name}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card text-dark card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0"><a class="text-dark my-recipe">Le mie ricette</a></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-left h-100 mt-4">
        <div class="col-12">
          <div [ngClass]="['card rounded-5', dNone, fadeIn, fadeOut]">
            <div class="card-body p-4">
              <h4 class="text-left my-3">Le mie ricette<span routerLink="/my-profile/edit" class="ms-2 d-sm-inline d-md-none d-lg-none d-xl-none d-xxl-none"><i class="bi bi-plus-circle-fill plus-icon"></i></span></h4>
              <table class="table mb-4">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nome ricetta</th>
                    <th scope="col">Azioni</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of userArrRecipe, let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{r.nome}}</td>
                    <td class="d-flex">
                      <button (click)="deleteById(r.id)" type="button" class="btn btn-danger rounded-5"><i class="bi bi-trash"></i></button>
                      <a [routerLink]="['/my-profile','edit',r.id]" class="btn btn-warning ms-1 rounded-5"><i class="bi bi-pencil"></i></a>
                    </td>
                  </tr>
                </tbody>
                <div class="mt-5" *ngIf="!userArrRecipe.length">
                  <strong>Non ci sono ricette...</strong>
                </div>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
